html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgb(37, 37, 37);
  position: relative;
  z-index: -10;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  ::-webkit-scrollbar {
    height: 2em;
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 2em;
    margin: 2em;
    background: #6b6b6b;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff6f59;
    border-radius: 2em;
    width: 4em;
    border: 3px solid #ffffff;
  }
}