.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .playlistContainer {
    margin: auto;
  }

  @media (max-width: 1000px) {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90vh;
    width: 100vw;

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    height: 100%;
    flex-direction: column;
    margin-top: 2em;
  }
}

.title {
  position: relative;
  width: 100vw;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #ff6f59;
  font-size: 3em;
}

@media (max-width: 1000px) {
  .title {
    position: absolute;
    z-index: 10;
    top: 0;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .titleContainer {
    height: 5em;
    width: 100vw;
    border-bottom: 3px solid #6b6b6b;
    position: sticky;
    top: 0;
    background-color: #252525;
    z-index: 10;

    .title {
      z-index: 11;
      position: relative;
      margin: 0;
    }
  }
}