.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .playlistContainer {
    margin: auto;
  }

  @media (max-width: 1000px) {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90vh;
    width: 100vw;

    overflow-x: scroll; /* Must be 'scroll' not 'auto' for ios */
    -webkit-overflow-scrolling: touch;
  }
}