.container {
    display: flex;
    flex-direction: column;

    width: 12em;
    // height: 25em;
    padding-bottom: 1em;
    margin: 1em 2em 1em 2em;

    border: 3px solid #262626;
    background-color: #6b6b6b;
    border-radius: 1em;

    position: relative;

    .image {
        margin: 1em;

        span {
            width: 100% !important;
        }
    }

    .info {
        display: flex;
        flex-direction: column;

        .name {
            color: #ffffff;
            text-align: center;
            padding: 0 1em 0 1em;
            font-size: 1em;
        }

        .buttons {
            display: flex;
            flex-direction: column;

            .button {
                margin: 0.5em 1em 0.5em 1em;
                padding: 0.5em;
                background-color: #252525;
                border: 3px solid #ffffff;
                border-radius: 1em;
                color: #ff6f59;
                text-transform: uppercase;
                font-weight: 800;
                text-align: center;
                font-size: 0.8em;
                cursor: pointer;

                transition: all 1s ease;

                &:hover {
                    background-color: #ff6f59;
                    border: 3px solid #252525;
                    color: #252525;
                }
            }
        }
    }

    .count {
        position: absolute;
        background-color: #6b6b6b;
        border-left: 3px solid rgb(37 37 37);
        border-bottom: 3px solid rgb(37 37 37);
        border-bottom-left-radius: 1em;
        width: 3em;
        height: 3em;
        top: 1em;
        right: 1em;

        .songCount {
            font-size: 1.3em;
            font-weight: 800;
            z-index: 2;
            position: absolute;
            width: 2em;
            height: 2em;
            top: 0;
            left: 0.1em;
            margin: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 2em;
            color: #ffffff;
        }

        .icon {
            position: absolute;
            top: 0.1em;
            left: 0.2em;
            width: 2.5em;
            height: 2.5em;
            color: rgb(37 37 37);
        }
    }

    @media (max-width: 1000px) {
        width: 17em;
        height: 30em;

        .image {
            margin: 1em;
    
            span {
                width: 100% !important;
                display: block;
                margin: auto;
            }
        }

        .button {
            height: 4em;
        }

        a {
            text-align: center;
            // vertical-align: middle !important;
            padding-top: 1em !important;
        }
    }
}