.container {
    margin: 4em;

    .image {
        border: 0.5em solid white;
        border-radius: 1em;

        span {
            z-index: -1;
        }
    }

    .stats {
        .name {
            font-size: 1.5em;
            color: white;
            text-align: center;
        }
    }
}